{% extends "main/base.html" %}

{% block content %}
<div class="menu_gl">
	<ul class="menu">
	   <ul class="navbar-nav rm-auto">
        {% if user.is_authenticated %}
        <li class="nav-tem" style="color:gray">
          <a href="{% url 'quiz_index' %}" class="nav-link">Тесты</a>
        </li>
        <li class="nav-tem" style="color:gray">
            <a href="{% url 'quiz_progress' %}" class="nav-link">Прогресс</a>
          </li>
        {% endif %}
       </ul>
      </ul>
</div>
<h1>Личный кабинет</h1>
{% if user.is_authenticated %}
    <p>Логин: {{user.username}}</p>
    <p>Имя Фамилия: {{user.first_name}} {{user.last_name}}</p>
    <p>Email: {{user.email}}</p>
{% endif %}
    
{% endblock  %}